<div class="row">
    <div class="col-xs-12">
        <h1>Learn How to Ride</h1>
    </div>
</div>

<div class="row content">
    <div class="col-xs-12">
        <h3>NO HORSE REQUIRED!</h3>
        <p>As part of our goal for a safe environment, we have horses that will provide a secure learning experience to our riders. Our horses are able to work with novice riders, as well as advanced level riders. They range in size to fit each rider, from the small child to the large adult.</p>
    </div>
</div>

<div class="row content">
    <div class="col-xs-12">
        <h3>BE PART OF A SHOW TEAM</h3>
        <p>AQHA – breed circuit. Qualifies for AQHA Novice World Show.</p>
        <p>USHJA Affiliate - Hunter/Jumper circuit. Qualifies for OCHSA or IEHJA year end show.</p>
        <p>Local – Highlander Open Horse Shows in La Habra. (English or Western with year end high point awards.) </p>
    </div>
</div>

<div class="row">
    <div class="col-xs-5 content" style="min-height: 250px;">
        <h3>Barn Duty</h3>
        <ul style="list-style:none; padding:10px;">
            <li>Riding horses is not the only part of keeping a horse</li>
            <li>Barn duty days are included in your riding lesson</li>
            <li>Do not need to own or lease your own horse to participate</li>
            <li>Learn how to clean a stall, feed, wash and oil saddles</li>
            <li>Learn how to pack a trailer for a show</li>
            <li>Learn to handle a horse at hand</li>
        </ul>
    </div>

    <div class="col-xs-5 col-xs-push-2 end content" style="min-height: 250px;">
            <h3>Merit Badge Workshops</h3>
            <ul style="list-style:none; padding:10px;">
                <li>Boy or Girl scout groups are welcomed</li>
                <li>Workshops to fit your group's needs</li>
                <li>Cost: $25 per person</li>
                <li>Scheduled for the 1st or 3rd Saturdays from 2 to 4 pm</li>
                <li>Workshop includes: Grooming, safety and a mini lesson on horseback</li>
            </ul>
        </div>
</div>

<div class="row">
    <div class="col-xs-3 text-center content" style="min-height: 475px;">
        <h3>Horsemanship</h3>
        <hr>
        <img src="/assets/horsemanship.jpg" alt="horse" style="width:50%;">
        <ul style="list-style:none; padding:10px;">
            <li>4 One-hour riding lessons (held once a week)</li>
            <li>May be ridden English or Western</li>
            <li>“Hands-on” approach to grooming, bridling and saddling.</li>
            <li>No horse ownership necessary.</li>
            <li>Barn Duty sessions are included. </li>
            <li>(1st and 3rd Saturdays from 2 to 4 pm.)</li>
            <li>Cost: $60 per lesson</li>
        </ul>
        <button class="btn btn-primary" type="button">Learn More</button>
    </div>
    <div class="col-xs-3 col-xs-offset-1 text-center content" style="min-height: 475px; margin-left: 12.50%;">
        <h3>English</h3>
        <hr>
        <img src="/assets/english.jpg" alt="horse" style="width:50%;">
        <ul style="list-style:none; padding:10px;">
            <li>4 One-hour riding lessons (held once a week)</li>
            <li>May be ridden English or Western</li>
            <li>“Hands-on” approach to grooming, bridling and saddling.</li>
            <li>No horse ownership necessary.</li>
            <li>Barn Duty sessions are included. </li>
            <li>(1st and 3rd Saturdays from 2 to 4 pm.)</li>
            <li>Cost: $60 per lesson</li>
        </ul>
        <button class="btn btn-primary" type="button">Learn More</button>
    </div>
    <div class="col-xs-3 col-xs-offset-1 end text-center content" style="min-height: 475px; margin-left: 12.50%;">
        <h3>Western</h3>
        <hr>
        <img src="/assets/western.jpg" alt="horse" style="width:58%;">
        <ul style="list-style:none; padding:10px;">
            <li>4 One-hour riding lessons (held once a week)</li>
            <li>May be ridden English or Western</li>
            <li>“Hands-on” approach to grooming, bridling and saddling.</li>
            <li>No horse ownership necessary.</li>
            <li>Barn Duty sessions are included. </li>
            <li>(1st and 3rd Saturdays from 2 to 4 pm.)</li>
            <li>Cost: $60 per lesson</li>
        </ul>
        <button class="btn btn-primary" type="button">Learn More</button>
    </div>
</div>

<router-outlet></router-outlet>