
<div class="row">
  <div class="col-xs-12">
    <h1>Hidden Creek Ranch</h1>
    <h4>Equestrian Horse Riding Academy</h4>
  </div>
</div>
<div class="row" style="margin-top: 400px">
    <hr>
  <div class="col-xs-4 text-center">
    <button class="btn btn-primary" type="button" routerLink="/horses">Horses</button>
  </div>
  <div class="col-xs-4 text-center">
   <button class="btn btn-primary" type="button" routerLink="/learn-how-to-ride">Learn How to Ride</button>
  </div>
  <div class="col-xs-4 text-center">
    <button class="btn btn-primary" type="button" routerLink="/camps">Camps</button>
  </div>
</div>