<!-- <div class="row">
  <div class="col-xs-12">
    <h1>Hidden Creek Ranch</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <video width="500px;" autoplay loop src="https://fournier-pere-fils.com/dist/assets/videos/home/background.mp4"></video>
  </div>
</div> -->

<!-- 
<app-home-page class="ng-tns-c5-0 ng-trigger ng-trigger-routerTransition"><div class="view view-home"> -->
  <div class="container animation-done">
      <div class="image-wrapper overlay has-object-fit cover">
              <video autoplay="" loop="" class="ng-tns-c5-0" src="https://fournier-pere-fils.com/dist/assets/videos/home/background.mp4"></video>
      </div>
      <div class="text-container overlay">
          <div class="table align-middle">
              <div class="has-padding">
                  <div class="inner line-above animation-done">
                      <h1 class="ng-tns-c5-0 animate-in" appanimatein=""><span class="line ng-tns-c5-0 animation-done"><span class="mask animation-done">Fournier Père &amp; Fils</span></span></h1>
                      <p class="ng-tns-c5-0 animate-in animation-done" appanimatein="">
                          Grands Domaines de Sancerre, Pouilly-Fumé &amp; Menetou-Salon
                      </p>
                  </div>
              </div>
          </div>
      </div>
      <div class="nav-container overlay has-padding animate-in animation-done" appanimatein="">
          <div class="inner">
              <div class="ng-tns-c5-0">
                  <!----><section app-navigation="" class="navigation ng-tns-c5-0"><div class="has-padding resp-full navigation">
  <div class="inner">
      <!----><nav class="table full-width align-top fixed">
          <!----><a class="font-playfair color-beige ease-out-transition" href="/domaine/domaine-fournier">
              <div class="copy">
                  <!---->Domaine
                  <!---->
                  <div class="title">Fournier</div>
              </div>
          </a><a class="font-playfair color-beige ease-out-transition" href="/domaine/domaine-de-saint-rombles-paul-vattan">
              <div class="copy">
                  <!---->Domaine
                  <!---->
                  <div class="title">de Saint Romble</div>
              </div>
          </a><a class="font-playfair color-beige ease-out-transition" href="/domaine/domaine-des-berthiers-jean-claude-dagenau">
              <div class="copy">
                  <!---->Domaine
                  <!---->
                  <div class="title">des Berthiers</div>
              </div>
          </a><a class="font-playfair color-beige ease-out-transition" href="/domaine/domaine-paul-corneau">
              <div class="copy">
                  <!---->Domaine
                  <!---->
                  <div class="title">Paul Corneau</div>
              </div>
          </a>
      </nav>
      <!---->
  </div>
</div>
</section>
              <!-- </div>
          </div>
      </div>
  </div>
</div> -->