<div class="row">
    <div class="col-xs-12">
        <h1>Forms</h1>
    </div>
</div>

<div class="row">
  <div class="col-xs-5">
      <div class="row content">
          <div class="col-xs-4">
            <img src="assets/pdf.png" width="100px;" alt="">
          </div>
            <div class="col-xs-8 text-center" style="padding-top:35px;">
                <a style="font-size:18px; cursor:pointer;" href="/assets/forms/CampEnrollment.pdf">Camp Enrollment</a>
            </div>
        </div>
        <div class="row content">
            <div class="col-xs-4">
              <img src="assets/pdf.png" width="100px;" alt="">
            </div>
              <div class="col-xs-8 text-center" style="padding-top:35px;">
                  <a style="font-size:18px; cursor:pointer;" href="/assets/forms/ThingsToBringToCamp.pdf">Things to Bring to Camp</a>
              </div>
          </div>
  </div>
  <div class="col-xs-5 col-xs-offset-2">
  
      <div class="row content">
          <div class="col-xs-4">
            <img src="assets/pdf.png" width="100px;" alt="">
          </div>
            <div class="col-xs-8 text-center" style="padding-top:35px;">
                <a style="font-size:18px; cursor:pointer;" href="/assets/forms/CreditCardAuthorizationForm.pdf">Credit Card Authiorization Form</a>
            </div>
        </div>
      
        
      <div class="row content">
          <div class="col-xs-4">
            <img src="assets/pdf.png" width="100px;" alt="">
          </div>
            <div class="col-xs-8 text-center" style="padding-top:35px;">
                <a style="font-size:18px; cursor:pointer;" href="/assets/forms/SummerCampFlyer.pdf">Summer Camp Flyer</a>
            </div>
        </div>
  </div>
</div>
  