<div class="row">
  <div class="col-xs-12">
    <h1>Horses</h1>
  </div>
</div>

<div class="row content">
  <div class="col-xs-3">
    <img src="/assets/horsemanship.jpg" alt="" width="200px;">
  </div>
  <div class="col-xs-9">
    <h3>Rasta</h3>
    <p>Age: 4</p>
    <p>Breed: American Quarter Horse</p>
    <p>Color: Brown</p>
  </div>
</div>  

<div class="row content">
    <div class="col-xs-3">
      <img src="/assets/horsemanship.jpg" alt="" width="200px;">
    </div>
    <div class="col-xs-9">
      <h3>Rocket</h3>
      <p>Age: 6</p>
      <p>Breed: American Saddlebred</p>
      <p>Color: Brown</p>
    </div>
  </div>  

  <div class="row content">
      <div class="col-xs-3">
        <img src="/assets/horsemanship.jpg" alt="" width="200px;">
      </div>
      <div class="col-xs-9">
        <h3>Chucky</h3>
        <p>Age: 17</p>
        <p>Breed: Pony</p>
        <p>Color: White</p>
      </div>
    </div>  