<div class="row">
    <div class="col-xs-12">
      <h1>Horse Boot Camp</h1>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12">
      <ul>
        <li>Weekly Program: (Monday - Friday from 9am to 1pm)</li>
        <li>Level: Advanced Beginning to Intermediate</li>
        <li>Minimal Horse Experience</li>
        <li>Will ride Four (4) days during the camp</li>
        <li>Topics discussed: Santiago Oaks Regional Park, Irvine Park and OPA trail systems. Safety with wildlife and multi-use trails</li>
        <li>Cost: $350 per camp. Discounts available</li>
        <li>Provides youth with a variety of learning opportunities</li>
        <li>Builds Self Confidence</li>
        <li>Instructors encourage positive results</li>
        <li>Small group sessions - no more than 6 campers per session</li>
      </ul>
    </div>
  </div>