<div class="row">
    <div class="col-xs-12">
      <h1>Horsemanship</h1>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12">
      <ul>
        <li>4 One-hour riding lessons (held once a week)</li>
        <li>May be ridden English or Western</li>
        <li>“Hands-on” approach to grooming, bridling and saddling.</li>
        <li>No horse ownership necessary.</li>
        <li>Barn Duty sessions are included. </li>
        <li>(1st and 3rd Saturdays from 2 to 4 pm.)</li>
        <li>Cost: $60 per lesson</li>
      </ul>
    </div>
  </div>