/* default .loading styles, .loading should be invisible, opacity: 0, z-index: -1 */
.loading {
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
    transition-delay: 0.5s;
    position: fixed;
    height: 100%;
    width: 100%; 
    top: 0;
    left: 0;
    background: #fff;
    z-index: -1;
}

/* .loading screen is visible when app is not bootstrapped yet, my-app is empty */
my-app:empty + .loading {
    opacity: 1;
    z-index: 100;
}

.content {
    background: #f1f1f1;
    color: #333;
    padding:10px;
    border-radius: 5px;
    margin-top:40px;
    margin-bottom: 40px;
}
