<nav class="navbar navbar-default">
  <div class="container-fluid">
      <div class="navbar-header">
          <a class="navbar-brand">Hidden Creek Ranch</a>
      </div>
      <div class="navbar-default">
        <ul class="nav navbar-nav navbar-right">
            <li routerLinkActive="active"><a routerLink="/learn-how-to-ride">Learn How to Ride</a></li>
            <li routerLinkActive="active"><a routerLink="/camps">Camps</a></li>
            <li routerLinkActive="active"><a routerLink="/about-us">About Us</a></li>
            <li routerLinkActive="active"><a routerLink="/instructors">Instructors</a></li>
        </ul>
    </div> 
      <!-- <div class="navbar-default">
          <ul class="nav navbar-nav navbar-right">
              <li routerLinkActive="active"><a routerLink="/learn-how-to-ride">Learn How to Ride</a></li>
              <li routerLinkActive="active"><a routerLink="/camps">Camps</a></li>
              <li routerLinkActive="active"><a routerLink="/about-us">About Us</a></li>
              <li routerLinkActive="active"><a routerLink="/instructors">Instructors</a></li>
          </ul>
      </div> -->
  </div>
</nav>