<div class="row">
  <div class="col-xs-12">
    <h1>Contact</h1>
  </div>
</div>

<div class="row content">
    <div class="col-xs-12">
      <div class="row" style="margin-top:50px;">
          <div class="col-xs-6">
            <p>Address: <a href="https://goo.gl/maps/8BPczrmGz2N2">7741 E Santiago Canyon Road, Orange, CA 92869</a></p>
            <p>Phone Number: <a href="tel:714-363-1563">714-363-1563</a></p>
            <p>Email: <a href="mailto:mailei@hcroc.com">mailei@hcroc.com</a></p>
          </div>
          <div>
            <p><fa name="facebook"></fa><a href="https://facebook.com/hcroc/">Hidden Creek Ranch</a></p>
            <p><fa name="instagram"></fa><a href="https://www.instagram.com/hiddencreekranch/">@hiddencreekranch</a></p>
            <p><fa name="yelp"></fa><a href="https://www.yelp.com/biz/hidden-creek-ranch-orange">Hidden Creek Ranch</a></p>
          </div>
        </div>
    </div>
    <div class="row" style="margin-top:200px; margin-bottom:50px;">
        <div class="col-xs-12 text-center">
            <img src="/assets/googlemap.png" width="400px;">
        </div>
      </div>
</div> 
