<div class="row">
  <div class="col-xs-12">
    <h1>About Us</h1>
  </div>
</div>
<div class="row content">
    <div class="col-xs-12">
        <h3>Our Mission Statement</h3>
        <p>To maintain an excellent riding academy and professional training facility.</p>
        <p>To facilitate the equine passion in all of us with the practical knowledge to succeed in the horse industry.</p>
    </div>
  </div>
<div class="row content">
  <div class="col-xs-12">
    <h3>Events</h3>
    <p>
        Riding School Hours - 
        Tuesday - Friday 
        3 - 6:30 pm 
        Saturdays 
        9 - 1 pm
    </p>
    <p>
        Barn Duty: 
        1st & 3rd Saturday 
        from  2 - 4 pm 
    </p>  
    <p>
        Horse Show Team 
        (2 to 3 times per week)
    </p> 
    <p>
        Summer Camps 
        (6 weeks during summer)
      </p>
  </div>
</div>

<div class="row content">
  <div class="col-xs-12">
    <h3>Academics</h3>
      <p>The majority of our long-term students graduate earning entrance to NCAA or ISHA collegiate riding teams.</p>
      <p>Independant PE Study</p>
      <ul>
        <li>Available To Long-Term Students</li>
        <li>Cost includes horse, equipment and training program</li>
        <li>Commitment: 10 - 15 Hours of riding per week</li>
        <li>Enrollment: In show circuit with attendance at a national year-end championship show</li>
      </ul>
  </div>
</div>