<div class="row">
  <div class="col-xs-12">
    <h1>Instructors</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h2>Mailei Bennett</h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h3>Awards</h3>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>
      2015 
      USEF/USHJA Zone 10 3 Year Old Hunter Breeding – Champion
      Highland Riders – High Point Trainer of the Year
      
      2014
      USHJA Affiliate Sportsmanship Award – Riding Instructor of the Year
      
      IEHJA – Riding Instructor of the Year
      Highland Riders – Western Trainer of the Year
      Showcase Hunter Jumper Series – High Point Trainer
      </p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h3>Achievements</h3>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>
      2015: (AQHA) Qualified five students nationally for 2015 Novice Championships.
    </p>
    <p>
      2015: (AQHA) Coach for All Around Novice Youth; Reserve Circuit Award – Novice Youth Hunter Under Saddle; Reserve Circuit Award – Novice Amateur Hunt Seat Equitation (Arizona National Stock Show)
    </p>
    <p>
      2015: (AQHA) Coach for Circuit Award – Novice Youth Hunter Hack and Novice Youth Jumpers (February Del Mar Horse Show)
    </p>
    <p>
      2014: (IEHJA) Coach for2’6” Medal Champion (highlighted in Riding Magazine). Coached 3 division champions for year-end awards.
    </p>
  </div>
</div>